1. A theatre has multiple screens.

2. A screen has multiple shows.

3. Each show runs one movie.

4. A movie can have multiple actors.

5. An actor can act in multiple movies.

6. A movie can be available in multiple languages.

7. Each show runs in one language and one format.

8. A show is scheduled on a specific date and time.

